<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quick Page</title>
    <link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon"/>
    <script th:src="@{/js/axios.min.js}"></script>
    <script th:src="@{/js/vue.3.4.27.js}"></script>
</head>
<body>
<h1>欢迎访问</h1>
<hr>
<h3>
    服务器信息: <span th:text="${serverMessage}"></span>
</h3>
<div id="app">
    <h3>{{msg}}</h3>
    <button @click="sendAJAX">发送AJAX请求</button>
    <div>============</div>
    <h3>User:[Username:{{user.username}}, Password:{{user.password}}]</h3>
    <button @click="getUser">获取用户信息</button>
</div>

<script>
    let projectRoot = '[[@{/}]]'

    Vue.createApp({
        data() {
            return {
                msg: "Vue 3",
                user: {
                    username: "",
                    password: ""
                }
            }
        },
        methods: {
            async sendAJAX() {
                let response = await axios.get(projectRoot + 'json/message')
                this.msg = response.data
            },
            async getUser() {
                let response = await axios.get(projectRoot + 'json/user')
                this.user = response.data
            }
        }
    }).mount('#app')
</script>
</body>
</html>